@using YesterdayNews.Models.ViewModels
@model List<ArticleVM>

@{
	ViewData["Title"] = "Yesterday's News";
}

<div class="container my-4">
	<div class="row justify-content-center">
		<div class="col-12 col-md-8 col-lg-6">
			<article class="mb-4 border p-3 rounded shadow-sm">
				<h1 class="mb-4 text-start">Latest News</h1>
			</article>
			@foreach (var article in Model)
			{
				<a asp-controller="Home" asp-action="Details" asp-route-id="@article.Id" class="text-decoration-none text-dark" style="display:block;">
					<article class="mb-4 border p-3 rounded shadow-sm">
						@if (!string.IsNullOrEmpty(article.ImageURL))
						{
							<img src="@article.ImageURL" alt="@article.Headline" class="img-fluid mb-2" />
						}
						<h2 class="article-underline">@article.Headline</h2>
						@if (!string.IsNullOrEmpty(article.Summary))
						{
							<p>@article.Summary...</p>
						}
					</article>
				</a>
			}
			@await Component.InvokeAsync("MostViewed")
			@await Component.InvokeAsync("MostLiked")
			@await Component.InvokeAsync("EarlierNews", new { articlesToSkip = Model.Count })
		</div>
	</div>
</div>