@using YesterdayNews.Models.ViewModels
@model PageVM

@{
	ViewData["Title"] = "Yesterday's News";
}

<div class="container my-4">
	<div class="row justify-content-center">
		<div class="col-12 col-md-8 col-lg-6">
			<h1 class="mb-4 text-start">Latest News</h1>
			<hr />
			@foreach (var article in Model.LatestNews)
			{
				<a asp-controller="Home" asp-action="Details" asp-route-id="@article.Id" class="text-decoration-none text-dark" style="display:block;">
					<article class="mb-4 border p-3 rounded shadow-sm">
						@if (!string.IsNullOrEmpty(article.ImageURL))
						{
							<img src="@article.ImageURL" alt="@article.Headline" class="img-fluid mb-2" />
						}
						<h2 class="article-underline">@article.Headline</h2>
						@if (!string.IsNullOrEmpty(article.Summary))
						{
							<p>@article.Summary...</p>
						}
					</article>
				</a>
			}
			<h2>Earlier this week</h2>
			<hr />
			<article class="mb-4 border p-3 rounded shadow-sm">
				<ul class="list-unstyled">
					@foreach (var article in Model.Next10News)
					{
						<li>
							<a asp-controller="Home" asp-action="Details" asp-route-id="@article.Id">
								<p class="article-underline">@article.Linktext</p>
							</a>
						</li>
					}
				</ul>
			</article>
		</div>
	</div>
</div>