@using YesterdayNews.Models.ViewModels
@model List<ArticleVM>

@{
	ViewData["Title"] = "Yesterday's News";
}

<div class="container my-4">
	<div class="row justify-content-center">
		<div class="col-12 col-md-7 col-lg-8">
			@await Component.InvokeAsync("JustIn")
			<div class="mb-0 p-1 pb-0  w-auto d-inline-block text-secondary">
				<h1 class="mb-0 text-start">Latest News</h1>
				<hr />
			</div>
			@foreach (var article in Model)
			{
				<a asp-controller="Home" asp-action="Details" asp-route-id="@article.Id" class="text-decoration-none text-dark" style="display:block;">
					<article class="mb-4 border p-3 rounded shadow-sm">
						@if (!string.IsNullOrEmpty(article.ImageURL))
						{
							<img src="@article.ImageURL" alt="@article.Headline" class="img-fluid mb-2" style="max-height: 300px; object-fit: cover; width: 100%;" />
						}
						<h2 class="article-underline">@article.Headline</h2>
						@if (!string.IsNullOrEmpty(article.Summary))
						{
							<p>@article.Summary...</p>
						}
					</article>
				</a>
			}
			@await Component.InvokeAsync("EarlierNews", new { articlesToSkip = Model.Count })
		</div>
		<div class="col-12 col-md-5 col-lg-4">
			@await Component.InvokeAsync("Sidebar")
		</div>
	</div>
</div>