@using YesterdayNews.Models.Db
@model YesterdayNews.Models.Db.Subscription

@{
    ViewData["Title"] = "Update";
}


<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <div class="text-center">
            <h3>Edit Subscription</h3>
            <hr />
        </div>
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label asp-for="Created">Subscription started</label>
                    <input id="createdDate" type="text" class="form-control" readonly />
                    <input type="hidden" asp-for="Created" id="Created" />
                    
                </div>
                <div class="col-md-6">
                    <label>Subscription ends</label>
                    <input asp-for="Expires" type="date" id="Expires" class="form-control" />
                    <span asp-validation-for="Expires" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label>User</label>
                <p class="form-control-plaintext">
                    First Name: <strong>@Model.User?.FirstName</strong>
                    Last Name: <strong>@Model.User?.LastName</strong>
                    Email: <strong>@Model.User?.Email</strong>
                </p>
                <input type="hidden" asp-for="UserId" name="UserId"/>
            </div>
            <div class="form-group">
                <label asp-for="SubscriptionTypeId" class="control-label"></label>
                <select asp-for="SubscriptionTypeId" class="form-control" id="SubscriptionTypeId">
                    <option value="">-- Choose SubscriptionType --</option>
                    @foreach (var type in (List<SubscriptionType>)ViewBag.SubscriptionTypes)
                    {
                        <option value="@type.Id"
                                selected="@(type.Id == Model.SubscriptionTypeId)">
                            @type.TypeName
                        </option>
                    }
                </select>
                <span asp-validation-for="SubscriptionTypeId" class="text-danger"></span>
            </div>
            <div id="subscriptionPriceRow" style="display:block;">
                <div class="d-flex align-items-center gap-3 border border-dark p-3 my-3">
                    Plan:<span id="planText" class="fw-bold">></span>,
                    AccessLevel:<span id="accessLevelText" class="fw-bold">></span>,
                    Price:<span id="priceText" class="fw-bold">></span>
                </div>
            </div>
            <div class="form-group text-end">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
        <div class="text-start">
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/js/Subscription.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

